name: Update changelog for unreleased commits

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions:
  contents: write

jobs:
  update-changelog:
    name: Generate changelog
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # To use `git describe --tags`

      - name: Setup Task
        uses: arduino/setup-task@v2

      - name: Generate changelog
        uses: orhun/git-cliff-action@v4
        with:
          config: cliff.toml
          args: --verbose
        env:
          OUTPUT: CHANGELOG.md

      - name: Commit Changelog
        run : |
          git config --global user.name 'github-actions' 
          git config --global user.email 'github-actions@github.com'
          git add CHANGELOG.md
          git commit -m "Update CHANGELOG.md"
          git push https://github.com/${{ github.repository }}.git HEAD:main
